.container {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    margin: 5% 10% 10% 24%;
}

.loader {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 70vh;
}
