.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textBlockRight {
    position: absolute;
    bottom: 80%;
    right: 7%;
    background: none;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 8px;
}

.textBlockLeft {
    position: absolute;
    bottom: 80%;
    left: 3%;
    background: none;
    color: white;
    line-height: 1px;
}

.box {
    position: absolute;
    width: 85%;
    height: 150px;
    left: -10%;
    bottom: 45%;
}


.icon {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 400px;
    font-size: 30px;
}