.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textBlock {
    position: absolute;
    bottom: 40%;
    right: 40%;
    background: none;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
}